<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Help Friend</title>
        <link rel="icon" type="image/jpg" href="../public/images/logo_icone.jpg"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../public/css/cadastroFuncionario.css"/>
    </head>
    <body>

    <header class="cabecalho">
        <button id="menuBtn" class="material-icons">menu</button>
        <div id="sideMenu" class="side-menu">
            <a href="#" class="close-btn" id="closeBtn">&times;</a>
            <a href="/inicio">INICIO</a>
            <a href="#">CONTATO</a>
            <a href="#">SOBRE</a>
        </div>
        <img id="logoPrincipal" class="logo" src="../public/images/logopng.png" alt="Logo Ícone">
        <div class="botoes-cabecalho">
            <button class="login-btn" href="">LOGIN</button>
            <button class="cadastro-btn" href="">CADASTRO</button>
        </div>
    </header>
    <main class="container">
        <div class="form-image">
            <img src="../public/images//undraw_dog_walking_re_l61p.svg">
        </div>
        <div class="form-cadastro">
            <form action="/cadastroFuncionario" method="post" enctype="multipart/form-data">
                <div class="form-header">
                    <div class="title">
                        <h1>CADASTRE UM FUNCIONARIO</h1>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <label for="nome">Nome do Funcionario</label>
                        <input type="text" id="nome" name="nome" placeholder="Digite o nome do funcionario" required>
                    </div>
                    <div class="input-box">
                        <label for="email">Email do Funcionario</label>
                        <input type="text" id="email" name="email" placeholder="Digite o apelido do funcionario">
                    </div>
                    <div class="input-box">
                        <label for="senha">Senha do Funcionario</label>
                        <input type="text" id="senha" name="senha" placeholder="Digite o apelido do funcionario">
                    </div>
                </div>
                <div class="cadastrar-button">
                    <button><a href="#">CADASTRAR</a></button>
                </div>
            </form>
        </div>
    </main>
    <!-- RODAPÉ -->
    <footer>
        <img class="img-rodape" src="../public/images/logo_verticalpng.png">
        <div class="rodape-btn">
            <a href="/inicio">INICIO</a>
            <a href="#">CONTATO</a>
            <a href="#">SOBRE</a>
        </div>
        <div class="redes-sociais">
            <img src="../public/images/facebook.png">
            <img src="../public/images/whatsapp.png">
            <img src="../public/images/instagram.png">
        </div>
        <p class="copyright"> Copyright &copy; 2023 Help Friend</p>
    </footer>
    <script src="../public/js/inicio.js"></script>
</body>
</html>