<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Help Friend</title>
        <link rel="icon" type="image/jpg" href="../public/images/logo_icone.jpg"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../public/css/deletaCachorro.css"/>
    </head>
    <body>

    <header class="cabecalho">
        <button id="menuBtn" class="material-icons">menu</button>
        <div id="sideMenu" class="side-menu">
            <a href="#" class="close-btn" id="closeBtn">&times;</a>
            <a href="#">INICIO</a>
            <a href="#">CONTATO</a>
            <a href="#">SOBRE</a>
        </div>
        <img id="logoPrincipal" class="logo" src="../public/images/logopng.png" alt="Logo Ícone">
        <div class="botoes-cabecalho">
            <button class="login-btn" href="">LOGIN</button>
            <button class="cadastro-btn" href="">CADASTRO</button>
        </div>
    </header>
    <main>
		<!-- Conteúdo Principal: deslocado para direita em 270 pixels quando a sidebar é visível -->
		<div class="w3-main w3-container">

			<!-- Retângulo de Exclusão -->
			<div class="w3-panel w3-padding-large w3-card-4 w3-light-grey">
				<h1 class="w3-xxlarge">Exclusão de Cachorros</h1>

				<p class="w3-large">
					<div class="w3-code cssHigh notranslate">
						
						<!-- Título de Cachorro específico em 20px para a direita -->
						<div class="w3-theme">
							<h2>ID do Cachorro:</h2>
						</div>
						<form class="w3-container" method="post" onsubmit="return check(this.form)">
							<input type="hidden" id="Id" name="Id" value="">
							<p>
							<label class="label_exclusao"><b>Nome: </b>  </label></p>
							<p>
							<label class="label_exclusao"><b>Raça: </b></label></p>
							<p>
							<label class="label_exclusao"><b>Ano de Nascimento: </b></label></p>
							<p>
							<label class="label_exclusao"><b>Porte: </b></label></p>
							<p>
							<input type="submit" value="Excluir" class="w3-btn w3-red" >
							<input type="button" value="Cancelar" class="w3-btn" onclick="window.location.href='mostrarCachorro.html'"></p>
						</form>
					</div>
				</p>
			</div>
		</div>
		<!-- RODAPÉ -->
	</main>
	<!-- RODAPÉ -->
	<footer>
		<img class="img-rodape" src="../public/images/logo_verticalpng.png">
		<div class="rodape-btn">
			<a href="#">INICIO</a>
			<a href="#">CONTATO</a>
			<a href="#">SOBRE</a>
		</div>
		<div class="redes-sociais">
			<img src="../public/images/facebook.png">
			<img src="../public/images/whatsapp.png">
			<img src="../public/images/instagram.png">
		</div>
		<p class="copyright"> Copyright &copy; 2023 Help Friend</p>
	</footer>
	<script src="../public/js/inicio.js"></script>
</body>
</html>