<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Help Friend</title>
        <link rel="icon" type="image/jpg" href="../public/images/logo_icone.jpg"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../public/css/inicio.css"/>
    </head>
    <body>
    <!-- CABEÇALHO -->
    <header class="cabecalho">
        <button id="menuBtn" class="material-icons">menu</button>
        <div id="sideMenu" class="side-menu">
            <a href="#" class="close-btn" id="closeBtn">&times;</a>
            <a href="#">INICIO</a>
            <a href="#">CONTATO</a>
            <a href="#">SOBRE</a>
        </div>
        <img id="logoPrincipal" class="logo" src="../public/images/logopng.png" alt="Logo Ícone">
        <div class="botoes-cabecalho">
            <button class="login-btn" href="">LOGIN</button>
            <button class="cadastro-btn" href="">CADASTRO</button>
        </div>
    </header>

        <!-- Conteúdo Principal: deslocado para direita em 270 pixels quando a sidebar é visível -->
        <main>
            <div>
                <h2 class="titulo-frase">Seu novo melhor amigo está aqui</h2>
                <div class="cards">  
                    <!-- ACESSO AO BANCO DE DADOS-->

                    <% cachorros.forEach(cachorro => { %>
                        <div class="card">
                            <div class="container">
                                <div class="sub-container">
                                    <div class="fields">
                                        <h4><b><b>Nome: </b><%= cachorro.Nome %></b></h4>
                                        <h4><b><b>Porte: </b><%= cachorro.Porte %></b></h4>
                                        <h4><b><b>Ano de Nascimento: </b><%= cachorro.Ano_Nascimento %></b></h4>
                                        <!-- ... -->
                                    </div>
                                    <img class="fotoConvertida" src="<%= cachorro.Imagem %>">
                                </div>
                                <a href=''>
                                    <button class="botao-reserva">Reservar</button>
                                </a>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </main>
        <!-- RODAPÉ -->
        <footer>
            <img class="img-rodape" src="../public/images/logo_verticalpng.png">
            <div class="rodape-btn">
                <a href="#">INICIO</a>
                <a href="#">CONTATO</a>
                <a href="#">SOBRE</a>
            </div>
            <div class="redes-sociais">
                <img src="../public/images/facebook.png">
                <img src="../public/images/whatsapp.png">
                <img src="../public/images/instagram.png">
            </div>
            <p class="copyright"> Copyright &copy; 2023 Help Friend</p>
        </footer>
        <script src="../public/js/inicio.js"></script>
    </body>
</html>