body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: Arial;
  /*box-sizing: border-box;*/
  min-height: 100vh;
  background-color: #ECECEC;
  background-image: url("../images/background.png");
}

body main {
  flex: 1 1 0;
}

/*HEADER*/

/* RODAPÉ */

footer {
  width: 100%;
  background-color: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 0px;
}

.img-rodape {
  display: block;
  height: 134px;
  margin: 20px auto 30px auto;
  padding-top: 35px;
}

.rodape-btn {
  text-align: center;
}

.rodape-btn a{
  text-decoration: none;
  margin: auto 25px;
  color: black;
  font-size: 18px;
}

.rodape-btn a:hover {
  transition: 0.3s;
  color: #c59253;
}

.redes-sociais {
  text-align: center;
}

.redes-sociais img{
  padding-top: 15px;
  margin: auto 15px;
  height: 25px;
  cursor: pointer;
}

.copyright {
  color: #8F8F8F;
  margin-top: 20px;
  text-align: center;
  padding: 25px 0 10px 0;
}